<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.TestMapper">

	<select id="selectBook" resultType="BookDO">
		select * from book
		<where>
			<if test="id != null">
				id = #{id}
			</if>
			<if test="name != null">
				and name = #{name}
			</if>
		</where>
	</select>

	<select id="check" resultType="Integer">
		select (now() - b.gmt_created)<![CDATA[ < ]]>
		60*1000 from book b limit 0,1
	</select>
	<select id="getLastTime" resultType="java.util.Date">
		select b.gmt_created from book b limit 0,1
	</select>
</mapper>