<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</appenders>

	<loggers>
		<Logger name="log4jdbc.log4j2" level="info" additivity="false">
			<!-- <MarkerFilter marker="LOG4JDBC_OTHER" onMatch="ACCEPT" onMismatch="DENY" /> -->
			<MarkerFilter marker="LOG4JDBC_OTHER" onMatch="DENY" onMismatch="NEUTRAL" />
			<appender-ref ref="Console" />
		</Logger>

		<root level="error">
			<appender-ref ref="Console" />
		</root>
	</loggers>
</Configuration>